build/
*/build/
*out/
*/out/
Debug/
Release/
x64/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace
*.exe
*.out
*.a
*.lib
*.dll
*.so
